Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.9.0
dj-database-url==3.1.1
gunicorn==25.1.0
whitenoise==6.11.0
psycopg2-binary==2.9.11
django-filter==25.2
drf-spectacular==0.29.0
# Cache bust 1771740648
